:root {
  --backgroundColor: #283618;
  --primaryColor: #9aad5d;
  --secondayColor: #c89255;
  --cardBackground: #faedcd;
}

body {
  background-color: var(--backgroundColor);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}


header h1 {
display: flex;
justify-content: center;
text-align: center;
flex-wrap: wrap;
color: var(--primaryColor);
font-size: 50px;
margin-bottom: 0%;
}

 nav ul {
 display: flex;
 padding-top: 1px;
 padding-bottom: 2px;
 margin-top: 2px;
 display: flex-end;
 justify-content: end;
}

nav li {
  display: inline-flex;
   margin-right: 10px;
   font-size:20px;
   color: var(--primaryColor);
}

nav a {
  color: var(--primaryColor);
  text-decoration: none;
}

nav a:hover {
 color: var(--secondayColor); 
}

.container {
  display:flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 15px; 
  border-bottom:  2px solid var(--primaryColor); 
  margin-bottom: 15px;
}

.card {
  padding: 5px; 
  flex:1; 
  margin-block-end: 20px;
  color: var(--secondayColor);
  font-weight: bolder;
  text-align: center;
  font-size: 20px;
  border: 2px solid var(--primaryColor);
  background-color: var(--cardBackground);
  flex-wrap: wrap;
}

  
/*text type user input */

.user-inputs input {   
  margin-bottom:7px; 
  padding: 10px; 
  box-sizing:border-box;
  font-weight: bold;
  color: black;
  flex-wrap: wrap;
}

.user-inputs{
  display:flex;
  flex-direction: column;
  gap: 5px;
  flex-wrap: wrap;
}

.input-group{
  position:relative;
  display:flex;
  align-items: center;
}

/* */
.input-group input{
  flex:1;
  padding:10px;
  padding-right: 90px;
  box-sizing:border-box;
}

.input-group button{
  position: absolute; 
  right: 40px; 
  padding: 2px; 
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 8px;
  background-color: var(--cardBackground); 
  color: rgb(23, 22, 22); 
  cursor: pointer; 
  font-size: 16px;
  border: none;
  border-radius: 5px;
  flex-wrap: wrap;
}

.input-group button:hover {
  background-color: rgb(237, 237, 174); 
}

/*Footer*/

.footer-container{
  width:100%;
  padding:50px 20px 20px;
}

.social-icons{
  display:flex;
  justify-content: center;
}

.social-icons a{
  text-decoration: none;
  padding:10px;
  background-color: #faedcd;
  margin:10px;
  border-radius: 50%;
}

/* hover effects*/

.social-icons a:hover{
  background-color: var(--primaryColor);
}

.footer-nav{
  margin:30px 0;
}

.footer-nav ul{
  display:flex;
  justify-content:center;
  list-style: none;
}

.footer-nav ul li a {
  color:var(--primaryColor);
  margin: 20px;
  text-decoration:none;
  font-size:1.2em;
  opacity:0.7s;
  transition: 0.5s;
  text-align: center;
}

.footer-nav ul li a:hover{
  opacity: 1;
  background-color: var(--backgroundColor);
  color: var(--secondayColor);
}

.footer-bottom{
  background-color: var(--cardBackground);
  padding: 0.5px;
  padding-right:2px ;
  text-align: center;
  margin-right: 1px;
  margin-top: 90px;
  border: solid 1px var(--primaryColor);
}

.footer-bottom p{
  color: var(--secondayColor);
}

.designer{
  opacity:0.7;
  text-transform:uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  margin:0px 5px;
}


/*Media Query*/


@media screen and (max-width:850px){

  header h1{
   color: antiquewhite;
    font-size:30px;
  }

  nav ul {
    flex-wrap: wrap;
  }
  nav li{
    font-size: 15px;

  }
  
  .container {
    flex-direction: column; 
    gap: 10px; 
    flex-wrap: wrap;
    font-size:10px;
  }

  .card {
    font-size: 14px; 
    padding: 5px; 
  }

  .input-group input {
    padding: 5px; 
    padding-right: 60px; 
    font-size: 12px; 
  }

  .input-group button {
    right: 5px; 
    padding: 2px;
    font-size: 12px; 

}
.footer-nav ul{
  flex-direction: column;
}

.footer-nav ul li {
width: 100%;
text-align: center;
margin: 10px;
font-size: 13px;
}  

/*Media Query ends here or enter your code */
